---
layout: layout.liquid
title: "Planetary Playing Cards"

planets:
    - name: "Mercury"
    color:"gray"
    au: "0.39"
    - name: "Venus"

    - name: "Earth"

    - name: "Mars"

    - name: "Jupiter"

    - name: "Saturn"

    - name: "Uranus"

    - name: "Neptune"

---

<div class="grid">
{% for planets in planets %}
    {% include 'card.liquid' %}
{% endfor %}
</div>