---
layout: layout.liquid
title: "Planetary Playing Cards"

planets:
    - name: "Mercury"
      color: "gray"
      au: "0.39"
    - name: "Venus"
      color: "gold"
      au: "0.72"
    - name: "Earth"
      color: "blue"
      au: "1.00"
    - name: "Mars"
      color: "red"
      au: "1.52"
    - name: "Jupiter"
      color: "orange"
      au: "5.20"
    - name: "Saturn"
      color: "yellow"
      au: "9.58"
    - name: "Uranus"
      color: "lightblue"
      au: "19.22"
    - name: "Neptune"
      color: "darkblue"
      au: "30.05"

---

<div class="grid">
{% for planets in planets %}
    {% include 'card.liquid' %}
{% endfor %}
</div>